:host{
  display:flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding:1.125rem 1.5rem;
  width: 300px;
  height: 398px;
  box-shadow: 1px 1px 3px #00000026;
  border: 2px solid #e5ebf2;
  &>p{
    text-align: center;
  }
  &>hr{
    width: 100%;
    border: none;
    border-top: solid 1px var(--theme-color-tertiary);
  }
  .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    max-height: 15.5rem;
    img{
      max-height: 100%;
      max-width: 100%;
    }
  }

  h2{
    margin: 0;
    color: var(--theme-color-primary);
  }

  h5{
    margin: 0;
    color: var(--theme-color-danger);
  }

  div.button-group{
    margin: 1rem 0;

    button{
      cursor: pointer;
      font-weight: 600;
      background-color: var(--theme-color-white);
      border: solid 1px var(--theme-color-tertiary);
      flex:1;
      padding: 0.5rem;
      color: var(--theme-color-secondary);
      transition: all 200ms;

      &:hover{
        background-color: var(--theme-color-tertiary);
      }

      &.primary{
        background-color: var(--theme-color-primary);
        color: var(--theme-color-white);
        &:hover{
          background-color: var(--theme-color-primary-lighter);
        }
      }

      &:first-of-type{
        border-top-left-radius: var(--button-border-radius);
        border-bottom-left-radius: var(--button-border-radius);
      }

      &:last-of-type{
        border-top-right-radius: var(--button-border-radius);
        border-bottom-right-radius: var(--button-border-radius);
      }

      &:not(:first-of-type){
        border-left: none;
      }
    }
  }
}
