/* You can add global styles to this file, and also import other style files */
:root{
  --primary-navbar-height: 3rem;
  --theme-color-primary: #4ea60b;
  --theme-color-primary-lighter: #6bb433;
  --theme-color-secondary: #8b8a96;
  --theme-color-tertiary: #eeeeee;
  --theme-color-backdrop: #ffffff;
  --theme-color-danger: #e33047;
  --theme-color-black: #0d0d0d;
  --theme-color-white: #ffffff;
  --text-link-color: #575d6b;
  --button-border-radius: 5px;
}

html,body,p{
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Lato",Arial,sans-serif;
}

.f-row{
  display:flex;
  flex-direction: row;
}

.f-col{
  display:flex;
  flex-direction: column;
}

.f-grow{
  flex-grow: 1;
}

.col-spacer-half{
  width: 0.5 rem
}

.col-spacer{
  width: 1 rem
}
.col-spacer-2{
  width: 2 rem
}

.row-spacer-half{
  height: 0.5 rem
}

.row-spacer{
  height: 1 rem
}
.row-spacer-2{
  height: 2 rem
}

.f-align-stretch{
  align-items: stretch;
}
.f-align-center{
  align-items: center;
}
.f-justify-stretch{
  justify-content: stretch;
}
.f-justify-center{
  justify-content: center;
}

